.center {
    margin-top: 1rem !important;
    text-align: center;
}

.front {
    z-index: 10;
}

.back {
    z-index: -1 !important;
}

#success_message{ display: none;}

.image-blurred-primary-color {
    /* you need to match the shadow color to your background or image border for the desired effect*/
    box-shadow: 1em 1em 11em 4em #f8f9fa inset;
}

#homepage-image {
    margin-top: 1.5rem !important;
    margin-right: 1rem !important;
}

#homepage-title {
    text-shadow: 2px 2px #344f77;
}

.inline {
    display: -webkit-inline-box !important;
}

